@charset "UTF-8";
/* CSS Document */

/* browser reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
th, td {
    vertical-align: top;
}
img {
    border: 0 none;
}
address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: normal;
}
li {
    list-style: none outside none;
}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
q:before, q:after {
    content: "";
}
abbr, acronym {
    border: 0 none;
    font-variant: normal;
}
sup {
    vertical-align: text-top;
}
sub {
    vertical-align: text-bottom;
}
input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}



/* style */
body { margin:0; padding:0; text-align:center; width:100%; font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; position:relative;
font-size:16px; background:url(../../images/sim/header_linebg.gif) repeat-x; }
#wrap { width:1064px; margin:0 auto; text-align:left;
     height:auto !important; /*IE6対策*/
     height: 100%; /*IE6対策*/
     min-height: 100%;
}
body > #wrap { height:auto; }
#wrap .inner { margin:0 2px; }
#wrap .inner-free { padding-bottom:148px; }
#wrap .inner-select { padding-bottom:170px; }
#header { width:1060px; height:83px; position:relative; background-color:#FFF; }
#header h1 { width:375px; height:60px; margin:0; padding-top:20px; margin-left:40px; display:block; overflow:hidden;  }
#header div.tagline { display:none; }
#header h1.direct { display:none;  background:url(../../images/sim/companylogo.jpg) no-repeat 0 20px; }
#header h1.official { background:url(../../images/sim/companylogo_bg.jpg) no-repeat 0 20px; }
div.direct #header h1.direct { display:block; }
div.direct #header h1.official { display:none; }
div.direct #header div.tagline { display:block; }
.tagline { position:absolute; top:5px; right:40px; text-align:right; }
.tagline ul li { display:inline; font-size:12px; line-height:1.2em; margin-left:1em; }
.tagline p { font-size:10px; line-height:1.3em; margin-top:5px; vertical-align:middle; }
.free-dial { font-size:22px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-weight:700; padding-left:38px; line-height:1.1em; }
.redtxt { color:#dd0000; }
.kontxt { color:#1f456b; }
.padb5 { padding-bottom:5px; }

p.inquery { display:block; background:url(../../images/sim/freedial.jpg) no-repeat 0 0; width:318px; height:32px; overflow:hidden; text-indent:-1000em; }
p.inquery .kontxt, p.inquery .free-dial, p.inquery .rtime, p.inquery .redtxt { display:none; }

/* Title bar style */
.contents { width:980px; margin:10px auto; position:relative; }
.ttl-box { height:81px; width:980px; position:relative; }
.ttl-box h2 { width:269px; height:60px; display:block; float:left; background:url(../../images/sim/h2_ttl.jpg) no-repeat 0 0; text-indent:-1000em; }
.ttl-box h2.tsuhan { background:url(../../images/sim/h2_ttl2.jpg) 0 0; }
.ttl-box h2.confirm { background:url(../../images/sim/h2_ttl.gif) 0 0; }
.user-status { display:block; width:600px; height:60px; background-color:#999; border-radius:5px; float:left; margin-left:10px; position:relative; }
.user-status-inner { display:block; border-radius:3px; background-color:#fff; margin:1px; width:598px; height:58px; }
.user-status .age-ttl { margin:5px; width:70px; height:50px; border-right:solid 1px #999; float:left; }
.age-ttl .midtxt { position:absolute; left:10px; top:50%; line-height:1em; font-size:14px; margin-top:-7px; font-weight:bold; color:#30539b; }
.user-status .user-profile { position:absolute; top:50%; left:85px; margin-top:-18px; font-size:14px; line-height:1.3em; vertical-align:middle; }
.age-capt { font-size:12px; }
.age-set { display:block; width:90px; height:60px; position:absolute; top:0; right:0; }
.age-set a { display:block; width:90px; height:60px; background:url(../../images/sim/blue-btn.gif) no-repeat 0 0; text-indent:-1000em; cursor: pointer;}
.age-set a:hover { background-position:0 -65px; }
.age-set a.disable { background:url(../../images/sim/logout.png) no-repeat 0 0;}
#now-age, #sex-txt { font-weight:bold; }
.prof-age #birth-y, .prof-age #birth-m, .prof-age #birth-d { font-weight:normal; }
.age-capt01, .age-capt02 { font-weight:normal; white-space: nowrap; }
/**
 * knockoutで制御するため削除
 */
/*.age-capt02 { display:none; }*/

p.clear { clear:both; }

/* age-popup */
.pop-box001 { position:absolute; top:-89px; left:389px; }
.box-w260 { width:280px; }
.close_check { position:absolute; width:20px; height:20px; top:0; right:0; background:url(../../images/sim/batsu.gif) no-repeat 0 0; cursor:pointer; z-index:5; }
.pop-box001 .pop_ttl { font-size:14px; color:#5289c6; }

.pop-box005 { width:480px; display:block; position:absolute; top:-89px; left:-210px; font-size:12px; line-height:1.3em; letter-spacing:-0.01em; z-index:1001; }
.arrow-r { *background:url(../../images/sim/arrow-r.gif) no-repeat; position:absolute; left:-8px; top:50%; width:10px; height:15px; margin-top:-7.5px; z-index:101; }

.poparrow-d {
  position: relative;
  background: #FFFFFF;
  border: 2px solid #999999;
  font-size:12px; line-height:1.3em; color:#666;
  padding:8px 12px 8px 15px;
}
.poparrow-d:after, .poparrow-d:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.poparrow-d:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #FFFFFF;
  border-width: 7px;
  left: 50%;
  margin-left: -7px;
}
.poparrow-d:before {
  border-color: rgba(250, 140, 60, 0);
  border-top-color: #999999;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
}

.poparrow-t {
  position: relative;
  background: #FFFFFF;
  border: 2px solid #999999;
  font-size:12px; line-height:1.3em; color:#666;
  padding:8px 12px 8px 15px;
}
.poparrow-t:after, .poparrow-t:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.poparrow-t:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #FFFFFF;
  border-width: 7px;
  left: 50%;
  margin-left: -7px;
}
.poparrow-t:before {
  border-color: rgba(250, 140, 60, 0);
  border-bottom-color: #999999;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
}
.poparrow-r {
  position: relative;
  background: #FFFFFF;
  border: 2px solid #999999;
  padding:7px 0 7px 10px;
}
.poparrow-r:after, .poparrow-r:before {
  left: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.poparrow-r:after {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #FFFFFF;
  border-width: 7px;
  top: 50%;
  margin-top: -7px;
}
.poparrow-r:before {
  border-color: rgba(250, 140, 60, 0);
  border-left-color: #999999;
  border-width: 10px;
  top: 50%;
  margin-top: -10px;
}

.poparrow-s, .poparrow-s-r {
  color:#F00;
  border-color:#F00;
}
.poparrow-s2 {
  border-color:#F00;
}
.poparrow-s-r:before {
	border-left-color: #F00;
}
.poparrow-s2:before, .poparrow-s:before {
  border-top-color: #F00;
}

.pop-box000-birth { position:absolute; top:-30px; left:270px; display:none; z-index:1001; }
.pop-box000-save { position:absolute; top:-50px; left:290px; display:none; z-index:1001; text-align: left; }
.pop-box000-product { position:absolute; top:-45px; left:260px; display:none; z-index:1001; }
.pop-box002 { position:absolute; top:-100px; left:20px; display:none; z-index:1001; }
.pop-box002i { position:absolute; top:-25px; left:640px; display:none; }
.box-w310 { width:310px; }
.box-w300 .poparrow-d { width:300px; }
.box-w300 .poparrow-t { width:300px; }

/* hokenitem style */
.itembox { background-color:#EFEFEF; padding:2px 0; position:relative; width:980px; display:block; height:auto; }
#bridge { background-color:#e8aa1a;}
#finesave { background-color:#f26a3d;}
#keep { background-color:#f28d01;}
#cure { background-color:#26b9ec;}
#curelady { background-color:#ea618e;}
#relief { background-color:#12398b;}
#believe { background-color:#017574;}
#curesup { background-color:#0054a7;}
#rise { background-color:#6e2c2f;}

.spcerblock { height:10px; }
.closemask { display:block; position:absolute; width:980px; height:64px; z-index:999; }

/* upper title-bar */
.tl-bar { background-color:#FFF; position:relative; margin:0 2px; width:976px; height:64px; overflow:hidden; }
#bridge .tl-bar { background-color:#fbf2dd; }
#finesave .tl-bar { background-color:#fce1d8; }
#keep .tl-bar { background-color:#fdeed9; }
#cure .tl-bar { background-color:#def4fc; }
#curelady .tl-bar { background-color:#fce7ee; }
#relief .tl-bar { background-color:#dbe1ee; }
#believe .tl-bar { background-color:#d9eaea; }
#curesup .tl-bar { background-color:#d9e5f2; }
#rise .tl-bar { background-color:#e9dfe0; }

.tl-bar .check-sq { display:block; width:54px; height:45px; position:absolute; top:50%; margin-top:-22.5px; left:0px; text-indent:-1000em; overflow:hidden;
background-image:url(../../images/sim/check.gif); background-repeat:no-repeat; cursor:pointer; }

/* SPA checkbox */
input[type=checkbox].check-sq-input {
  /* 元のチェックボックスをビューポートの外側に押し出す */
  position: absolute;
  left: -1000em;
}

/* 商品チェックボックス表示 */
.product_check + label:before {
  content: "";
  display: inline-block;
  width  : 54px;
  height : 45px;
  position:absolute; top:50%; margin-top:-22.5px; left:0px; text-indent:-1000em; overflow:hidden;
  background: url("../../images/sim/check.gif") no-repeat 0 0;
  background-position: 0px -50px;
}

/* 商品チェック状態 */
.product_check:checked + label:before {
  background-position: 0px 0px;
}

/* 商品チェック可否状態 */
.product_check:disabled + label:before {
  background-position: 0px -100px;
}
/* end of SPA checkbox */

#bridge .product_check + label:before { background-position:0 -50px; }
#finesave .product_check + label:before { background-position:-60px -50px; }
#keep .product_check + label:before { background-position:-120px -50px; }
#cure .product_check + label:before { background-position:-180px -50px; }
#curelady .product_check + label:before { background-position:-240px -50px; }
#relief .product_check + label:before { background-position:-300px -50px; }
#believe .product_check + label:before { background-position:-360px -50px; }
#curesup .product_check + label:before { background-position:-420px -50px; }
#rise .product_check + label:before { background-position:-480px -50px; }

#bridge .product_check:checked + label:before { background-position:0 0; }
#finesave .product_check:checked + label:before { background-position:-60px 0; }
#keep .product_check:checked + label:before { background-position:-120px 0; }
#cure .product_check:checked + label:before { background-position:-180px 0; }
#curelady .product_check:checked + label:before { background-position:-240px 0; }
#relief .product_check:checked + label:before { background-position:-300px 0; }
#believe .product_check:checked + label:before { background-position:-360px 0; }
#curesup .product_check:checked + label:before { background-position:-420px 0; }
#rise .product_check:checked + label:before { background-position:-480px 0; }

#bridge .product_check:disabled + label:before { background-position:0 -100px; }
#finesave .product_check:disabled + label:before { background-position:-60px -100px; }
#keep .product_check:disabled + label:before { background-position:-120px -100px; }
#cure .product_check:disabled + label:before { background-position:-180px -100px; }
#curelady .product_check:disabled + label:before { background-position:-240px -100px; }
#curelady .product_check:disabled + label:before { background-position:-240px -100px; }
#relief .product_check:disabled + label:before { background-position:-300px -100px; }
#believe .product_check:disabled + label:before { background-position:-360px -100px; }
#curesup .product_check:disabled + label:before { background-position:-420px -100px; }
#rise .product_check:disabled + label:before { background-position:-480px -100px; }

.tl-bar h3 { display:block; width:530px; height:45px; position:absolute; top:50%; left:56px;
font-size:22px; font-weight:bold; margin-top:-22.5px; line-height:1em; overflow:hidden; cursor:pointer; }
#bridge .tl-bar h3 { background:url(../../images/sim/h3_01.gif) no-repeat 0 0; text-indent:-1000em; }
#finesave .tl-bar h3 { background:url(../../images/sim/h3_02.gif) no-repeat 0 0; text-indent:-1000em; }
#keep .tl-bar h3 { background:url(../../images/sim/h3_03.gif) no-repeat 0 0; text-indent:-1000em; }
#cure .tl-bar h3 { background:url(../../images/sim/h3_04.gif) no-repeat 0 0; text-indent:-1000em; }
#curelady .tl-bar h3 { background:url(../../images/sim/h3_05.gif) no-repeat 0 0; text-indent:-1000em; }
#relief .tl-bar h3 { background:url(../../images/sim/h3_06.gif) no-repeat 0 0; text-indent:-1000em; }
#believe .tl-bar h3 { background:url(../../images/sim/h3_07.gif) no-repeat 0 0; text-indent:-1000em; }
#curesup .tl-bar h3 { background:url(../../images/sim/h3_08.gif) no-repeat 0 0; text-indent:-1000em; }
#rise .tl-bar h3 { background:url(../../images/sim/h3_09.gif) no-repeat 0 0; text-indent:-1000em; }

.tl-bar .gurd-formen { /*background-color:#fce7ee;*/ font-weight:bold; z-index:50;
font-size:14px; line-height:1.2em; text-align:left; display:none;
 width:220px; height:36px; position:absolute; top:50%; margin-top:-15px; left:587px; }
.close-m .tl-bar .gurd-formen { display:block; }

.tl-bar .gurd-close {font-weight:bold;
font-size:16px; line-height:1.2em; text-align:left; display:none;
 width:220px; height:36px; position:absolute; top:45%; margin-top:-15px; left:587px; }
.close .tl-bar .gurd-close { display:block; font-size:14px; line-height:1.2em; }


.tl-bar .uint-price, .tl-bar .uint-price-h, .tl-bar .uint-price-y { display:block; width:220px; height:36px; position:absolute; top:50%; margin-top:-18px; left:587px; text-align:right;  }
/**
 * knockoutで制御するため削除
 */
/*.tl-bar .uint-price-h, .tl-bar .uint-price-y { display:none; }*/
.price-label { font-size:16px; line-height:1.1em; text-align:left; width:50px; float:left; margin-top:0px;  }
.pricered { font-size:40px; color:#CCC; font-family:Helvetica, Arial, sans-serif; font-weight:bold; font-weight:900; }
.active .pricered { color:#EE0000; }
.price-tani { font-size:20px; }
.tl-bar .icon-box { display:block; width:145px; position:absolute; top:50%; left:820px; text-align:left; }
.icon-pc, .icon-letter { width:70px; height:40px; margin-top:-20px; float:left; position:relative; background:url(../../images/sim/net_mail_mark.gif) no-repeat 0 0; overflow:hidden; }
.icon-pc { float:left; }
.icon-letter { float:right; }
.icon-pc .midtxt, .icon-letter .midtxt { width:70px; height:40px; position:absolute; top:50%; left:50%; margin-top:-15px; margin-left:-35px; font-size:13px; color:#FFF; line-height:1.2em; text-align:center; text-indent:-1000em;}
#bridge .icon-pc { background-position:-3px -2px; }
#bridge .icon-letter { background-position:-76px -2px; }
#finesave .icon-pc { background-position:-3px -52px; }
#finesave .icon-letter { background-position:-76px -52px; }
#keep .icon-pc { background-position:-3px -102px; }
#keep .icon-letter { background-position:-76px -102px; }
#cure .icon-pc { background-position:-3px -152px; }
#cure .icon-letter { background-position:-76px -152px; }
#curelady .icon-pc { background-position:-3px -202px; }
#curelady .icon-letter { background-position:-76px -202px; }
#relief .icon-pc { background-position:-3px -252px; }
#relief .icon-letter { background-position:-76px -252px; }
#believe .icon-pc { background-position:-3px -302px; }
#believe .icon-letter { background-position:-76px -302px; }
#curesup .icon-pc { background-position:-3px -352px; }
#curesup .icon-letter { background-position:-76px -352px; }
#rise .icon-pc { background-position:-3px -402px; }
#rise .icon-letter  { background-position:-76px -402px; }

/*price hide*/
#bridge.close .tl-bar .uint-price, #bridge.close .tl-bar .uint-price-h, #bridge.close .tl-bar .uint-price-y,
#finesave.close .tl-bar .uint-price, #finesave.close .tl-bar .uint-price-h, #finesave.close .tl-bar .uint-price-y,
#keep.close .tl-bar .uint-price, #keep.close .tl-bar .uint-price-h, #keep.close .tl-bar .uint-price-y,
#cure.close .tl-bar .uint-price, #cure.close .tl-bar .uint-price-h, #cure.close .tl-bar .uint-price-y,
#curelady.close .tl-bar .uint-price, #curelady.close .tl-bar .uint-price-h, #curelady.close .tl-bar .uint-price-y,
#curelady.close-m .tl-bar .uint-price, #curelady.close-m .tl-bar .uint-price-h, #curelady.close-m .tl-bar .uint-price-y,
#relief.close .tl-bar .uint-price, #relief.close .tl-bar .uint-price-h, #relief.close .tl-bar .uint-price-y,
#believe.close .tl-bar .uint-price, #believe.close .tl-bar .uint-price-h, #believe.close .tl-bar .uint-price-y,
#curesup.close .tl-bar .uint-price, #curesup.close .tl-bar .uint-price-h, #curesup.close .tl-bar .uint-price-y,
#rise.close .tl-bar .uint-price, #rise.close .tl-bar .uint-price-h, #rise.close .tl-bar .uint-price-y {
display:none;
}

/* detail */
.itembox .simul-box { margin:0 2px; width:976px; }
.itembox.active .simul-box { display:block; }
.itembox .simul-box { background-color:#FFF; position:relative; width:976px; overflow:hidden; }
#bridge .simul-box { border-top:solid 2px #e8aa1a; }
#finesave .simul-box { border-top:solid 2px #f26a3d; }
#keep .simul-box { border-top:solid 2px #f28d01; }
#cure .simul-box { border-top:solid 2px #26b9ec; }
#curelady .simul-box { border-top:solid 2px #ea618e; }
#relief .simul-box { border-top:solid 2px #12398b; }
#believe .simul-box { border-top:solid 2px #017574; }
#curesup .simul-box { border-top:solid 2px #0054a7; }
#rise .simul-box { border-top:solid 2px #6e2c2f; }

.left-ttl { display:block; width:147px; float:left; background-color:#f3f3f3; height:100%; }
.left-ttl .logomark a { display:block; width:120px; height:70px; overflow:hidden; background:url(../../images/sim/logo.jpg) no-repeat 0 0; margin:20px 0 0 13px; text-indent:-1000em; }
.box-inner { overflow:hidden; background:url(../../images/sim/left_bg.gif) repeat-y; }

#bridge .left-ttl .logomark a { background-position:0 -70px; }
#finesave .left-ttl .logomark a { background-position:0 -210px; }
#keep .left-ttl .logomark a { background-position:0 -350px; }
#cure .left-ttl .logomark a { background-position:0 -0; }
#curelady .left-ttl .logomark a { background-position:0 -420px; }
#relief .left-ttl .logomark a { background-position:0 -280px; }
#believe .left-ttl .logomark a { background-position:0 -140px; }
#curesup .left-ttl .logomark a { background-position:0 -490px; }
#rise .left-ttl .logomark a { background-position:0 -560px; }

.ques a { display:inline-block; width:23px; height:19px; background:url(../../images/sim/question.gif) no-repeat 2px 0; text-indent:-999em; text-align:left; }
.quespop a { display:inline-block; width:20px; height:18px; background:url(../../images/sim/popup16.gif) no-repeat 2px 2px; text-indent:-999em; }
p.top_paylink { display:block; text-align:right; width:100%; position:relative; line-height:1.1em; margin-bottom:5px;}


/* center cols */
.mid-box { display:block; width:591px; float:left; margin-left:20px; font-size:16px; padding-top:10px; padding-bottom:10px; position:relative; }
.mid-box dl { display:block; padding:5px 0; border-bottom:solid 1px #CCC; overflow:hidden; width:100%; }
.mid-box dl.last { border-bottom:0; }
.mid-box dl.mgnt-5 { margin-top:-8px; }
.mid-box dt { width:230px; float:left; line-height:1.2em; padding-top:5px; font-weight:bold; position:relative; }
.mid-box dt strong { font-weight:bold; }
.mid-box dt .icon-m { display:block; width:20px; height:20px; background-image:url(../../images/sim/icon-hoken.gif); background-repeat:no-repeat; float:left; margin-right:3px; }
.mid-box dt .hutai-ttl { line-height:1.3em; padding-top:3px; padding-left:23px; font-weight:normal; }
.mid-box dt .sub-ttl { padding-left:23px; font-weight:normal; }
.mid-box dd { float:left; display:block; width:361px; }
.mid-box dd select[option] { font-size:16px; padding:2px 1em; }
.mid-box dd .group { width:120px; float:left; }
.mid-box dd .group1, .mid-box dd .group2, .mid-box dd .group3 { width:120px; float:left; }
.mid-box dd .group.w240 { width:240px; }
.mid-box dd .hutailine { clear:left; }
.mid-box dd label { padding:1px 3px; margin-left:3px; }
.mid-box dd label sup { font-size:10px; font-weight:normal; vertical-align:text-top; }
.mid-box dd input[type=radio] { pagging:0; margin:0; }
.rlabel { padding-left:1.5em; font-weight:normal; line-height:1.3em; clear:both; }
.rlabel.w240 { width:240px; }
.rlabel.w300 { width:340px; position:absolute; top:40px; left:227px; text-indent:-0.5em; z-index:33; }
.rlabel.w300b { width:340px; position:absolute; top:40px; left:347px; text-indent:-0.5em; z-index:33; }
.rlabel-t { padding-left:1.5em; font-weight:normal; line-height:1.3em; clear:both; }
.radio-select { font-weight:bold; background-color:#fcc69d; }
.radio-disabled { color:#999999; }
.mid-box dd select { width:7em; font-weight:bold;}


.mid-box dt.ico-span a, .mid-box dt.ico-term a { padding-right:20px; background:url(../../images/sim/popup16.gif) no-repeat; background-position:center right; }

#keep_benefit_lump_pay { font-weight:bold;}
h5.f14 { font-size:14px; margin-top:0.5em;}
p.f13 { font-size:13px; }
.waku { border:solid 1px #CCC; padding:5px 10px 5px 15px; margin:5px 0; display:block; position:relative; width:90%; }

#bridge .mid-box dt.ico-sum_ins .icon-m { background-position:-40px 0; }
#bridge .mid-box dt.ico-term .icon-m { background-position:-40px -40px; }
#finesave .mid-box dt.ico-sum_ins .icon-m { background-position:-80px 0; }
#finesave .mid-box dt.ico-term .icon-m { background-position:-80px -40px; }
#keep .mid-box dt.ico-sum_ins .icon-m { background-position:-120px 0; }
#keep .mid-box dt.ico-span .icon-m { background-position:-120px -200px; }
#keep .mid-box dt.ico-term .icon-m { background-position:-120px -40px; }
#cure .mid-box dt.ico-sum_ins .icon-m { background-position:-160px 0; }
#cure .mid-box dt.ico-hosp .icon-m { background-position:-160px -80px; }
#cure .mid-box dt.ico-star .icon-m { background-position:-160px -120px; }
#cure .mid-box dt.ico-term .icon-m { background-position:-160px -40px; }
#curelady .mid-box dt.ico-sum_ins .icon-m { background-position:-200px 0; }
#curelady .mid-box dt.ico-hosp .icon-m { background-position:-200px -80px; }
#curelady .mid-box dt.ico-star .icon-m { background-position:-200px -120px; }
#curelady .mid-box dt.ico-term .icon-m { background-position:-200px -40px; }
#relief .mid-box dt.ico-sum_ins .icon-m { background-position:-240px 0; }
#relief .mid-box dt.ico-hosp .icon-m { background-position:-240px -80px; }
#relief .mid-box dt.ico-star .icon-m { background-position:-240px -120px; }
#relief .mid-box dt.ico-term .icon-m { background-position:-240px -40px; }
#believe .mid-box dt.ico-sum_ins .icon-m { background-position:-280px 0; }
#believe .mid-box dt.ico-hosp .icon-m { background-position:-280px -80px; }
#believe .mid-box dt.ico-plus .icon-m { background-position:-280px -160px; }
#believe .mid-box dt.ico-star .icon-m { background-position:-280px -120px; }
#believe .mid-box dt.ico-term .icon-m { background-position:-280px -40px; }
#curesup .mid-box dt.ico-sum_ins .icon-m { background-position:-320px 0; }
#curesup .mid-box dt.ico-hosp .icon-m { background-position:-320px -80px; }
#curesup .mid-box dt.ico-star .icon-m { background-position:-320px -120px; }
#curesup .mid-box dt.ico-term .icon-m { background-position:-320px -40px; }
#rise .mid-box dt.ico-sum_ins .icon-m { background-position:-360px 0; }
#rise .mid-box dt.ico-term .icon-m { background-position:-360px -40px; }


.right-box { display:block; width:200px; float:left;  margin-left:12px; padding-top:10px; }
.list-help { margin-left:18px; }
.list-help li { display:block; margin-bottom:5px; border-radius:5px; text-align:center; font-size:12px; height:22px; *margin-bottom:2px; }
.list-help li a { display:block; width:180px; height:22px; border-radius:3px; color:#333; position:relative; text-decoration:none; }
.list-help li a .midtxt { display:block; line-height:1.1em; font-weight:bold; position:absolute; top:50%; margin-top:-6px; left:3em; }
#bridge .list-help li a .midtxt { color:#e8aa1a; }
#bridge .list-help li { background-color:#e8aa1a; padding:1px; }
#bridge .list-help li a { background:url(../../images/sim/icon_arrow.png) no-repeat right -1px; background-color:#f3f3f3; margin:0px; }
#finesave .list-help li a .midtxt { color:#f26a3d; }
#finesave .list-help li { background-color:#f26a3d; padding:1px;}
#finesave .list-help li a { background:url(../../images/sim/icon_arrow.png) no-repeat right -31px; background-color:#f3f3f3; margin:0px; }
#relief .list-help li a .midtxt { color:#12398b; }
#relief .list-help li { background-color:#12398b; padding:1px; }
#relief .list-help li a { background:url(../../images/sim/icon_arrow.png) no-repeat right -151px; background-color:#f3f3f3; margin:0px; }
#believe .list-help li a .midtxt { color:#017574; }
#believe .list-help li { background-color:#017574; padding:1px; }
#believe .list-help li a { background:url(../../images/sim/icon_arrow.png) no-repeat right -181px; background-color:#f3f3f3; margin:0px; }
#curesup .list-help li a .midtxt { color:#0054a7; }
#curesup .list-help li { background-color:#0054a7; padding:1px; }
#curesup .list-help li a { background:url(../../images/sim/icon_arrow.png) no-repeat right -211px; background-color:#f3f3f3; margin:0px; }
#rise .list-help li a .midtxt { color:#6e2c2f; }
#rise .list-help li { background-color:#6e2c2f; padding:1px; }
#rise .list-help li a { background:url(../../images/sim/icon_arrow.png) no-repeat right -241px; background-color:#f3f3f3; margin:0px; }
.caption { font-size:12px; line-height:1.3em; position:relative; width:200px; }
.caption p { padding-left:1.5em; margin-bottom:10px; }
.caption .asta-marker { width:14px; position:absolute; top:0; left:0; }

p.release-date { margin-bottom:1em; font-size:13px; line-height:1.3em; padding-left:1.5em; position:relative; }
p.caution { font-size:13px; line-height:1.3em; padding-left:1.5em; position:relative; margin-bottom:0.5em; }
p.caution .currency { font-size:16px; }
.dotmark { width:14px; position:absolute; top:0; left:0; }

#footgurd { padding:0 10px 10px 10px; border:0; clear:both; display:block; margin-top:0px; }

.btn-point { width:120px; border-radius:3px; font-size:12px; margin:5px 0 5px 13px; text-align:center; text-decoration:underline; cursor:pointer; color:#36C; }

/* footer */
#footerlink {
  width:980px;
  clear:both;
  background-color:#f2f2f2;
  margin:0 auto 13px auto;
  overflow:hidden;
  height:38px;
}
#footerlink ul { display:none; }
#footerlink span.bobun-number { font-size:12px; font-family:Arial, Helvetica, sans-serif; line-height:1em; text-align:left; width:500px; float:left; padding:13px 15px;}
#footerlink p.copyright { font-size:12px; font-family:Arial, Helvetica, sans-serif; line-height:1em; padding:13px 10px 5px 0; text-align:right; }
div.direct #footerlink ul { display:block; width:500px; float:left; padding:10px 15px; line-height:1.1em; }
div.direct #footerlink ul li { display:inline; padding-right:15px; font-size:12px; background:url(../../images/sim/popup.gif) no-repeat; background-position:right 0; margin-right:5px; }
div.direct #footerlink span.bobun-number { display:none; }

.footershadow { display:block; background:url(../../images/sim/upshadow.png) repeat-x;
height:10px; width:100%; position:fixed; bottom:148px; left:0; z-index:998; }
#footer { background-color:#F2F2F2; box-shadow: 0 0 4px rgba(112, 112, 112, 0.5); position:fixed; bottom:0; left:0; height:148px; width:100%; z-index:999;
 }
#footer .inner { width:980px; margin:10px auto; }
#footer img { margin:0 auto; }

#footer .sumbox { width:540px; float:right; text-align:left; position: relative; }
.sumbox p { padding-bottom:5px; line-height:1.2em; }
/**
 * knockoutで制御するため削除
 */
/*.paypattern-m { display:none; }*/
.sum-databox { display:block; width:310px; height:90px; position: relative; }
.sum-databox .arrow-g { background:url(../../images/sim/arrow-r-orng.gif) no-repeat; position:absolute; right:-12px; top:50%; width:17px; height:23px; margin-top:-11.5px; z-index:1050; }
/**
 * knockoutで制御するため削除
 */
/*#pay_sum-h, #pay_sum-y { display:none; }*/
.paylabel { padding:0 0 0 10px; margin-left:0; }
.sum-count { text-align:right; padding:0 10px 10px 0; margin-top:-2px;}
.sum-count .sumred { font-size:54px; font-family:Arial, Helvetica, sans-serif; color:#E00; font-weight:bold; line-height:1em; }
.sum-count .tani { font-size:20px;}
.btn-culc { float:right; width:210px; }
.btn-culc a { display:block; width:210px; height:90px; background:url(../../images/sim/red-btn.gif) no-repeat 0 0; text-indent:-999em; cursor: pointer;}
.btn-culc a:hover { background-position:0 -99px; }
.btn-culc a.disable { background-position:0 -199px; cursor: default;}

.arrow-rbox {
  position: relative;
  background: #FFFFFF;
  border: 5px solid #fa8c3c;
height:80px;
}
.arrow-rbox:after, .arrow-rbox:before {
  left: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow-rbox:after {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #FFFFFF;
  border-width: 10px;
  top: 50%;
  margin-top: -10px;
}
.arrow-rbox:before {
  border-color: rgba(250, 140, 60, 0);
  border-left-color: #fa8c3c;
  border-width: 17px;
  top: 50%;
  margin-top: -17px;
}

#footer .leftbox { width:440px; float:left; display:block; }
#footer .leftbox2 { width:440px; float:left; display:block; } /*通販用ボタン１つ*/

#footer ul.blue-btn { width:440px; display:block; }
.blue-btn li { float:left; }
li.btn-recm a, li.btn-simul a, li.btn-pdfdoc a { display:block; height:55px; background-image:url(../../images/sim/blue-btn.gif); background-repeat:no-repeat; text-indent:-999em; overflow:hidden;  cursor: pointer;}
li.btn-recm a { width:142px; background-position:-95px 0;  }
li.btn-simul a { width:142px; background-position:-237px 0;  }
li.btn-pdfdoc a { width:138px; background-position:-379px 0;  }
li.btn-recm a:hover { width:142px; background-position:-95px -65px; }
li.btn-simul a:hover { width:142px; background-position:-237px -65px; }
li.btn-pdfdoc a:hover { width:138px; background-position:-379px -65px; }
li.btn-recm a.disable { width:142px; background-position:-95px -130px; cursor: default; }
li.btn-simul a.disable { width:142px; background-position:-237px -130px; cursor: default; }
li.btn-pdfdoc a.disable { width:138px; background-position:-379px -130px; cursor: default; }

li.btn-simul2 { margin-top:25px;}
li.btn-simul2 a { display:block; width:200px; height:90px; background-image:url(../../images/sim/btn-simul-b.gif); background-repeat:no-repeat; text-indent:-999em; overflow:hidden; background-position:0 0px;
 }
li.btn-simul2 a:hover { width:200px; background-position:0 -100px; }
li.btn-simul2 a.disable { display:block; width:200px; height:90px; background-image:url(../../images/sim/btn-simul-b.gif); background-repeat:no-repeat; text-indent:-999em; overflow:hidden; background-position:0 -200px;
  cursor: default;}
.mail-estam { clear:both; padding-top:10px; text-align:left; vertical-align:middle; }
.mail-estam label { padding:0; margin:0; width:140px; float:left; text-align:left; font-size:12px; line-height:1.1em; color:#538ac7; }
.mail-estam input#est-sendmail { width:210px; padding:2px; margin:0; font-size:12px; padding-top:-2px; float:left; }
a#subm-btn { margin:0 0 0 5px; display:block; width:60px; height:28px; background:url(../../images/sim/btn_submit.gif) no-repeat 5px 1px; text-indent:-1000em; overflow:hidden; cursor: pointer;}
a.disable#subm-btn { background-position:5px -33px; cursor: default;}
p.privacy-cap { text-align:left; line-height:1.2em; font-size:12px; margin:0.5em 0;}
.message { text-align:left; line-height:1.2em; font-size:12px; margin:0.5em 0;}
p.error { color:#dd0000;}


/* POPUP */

.pop-box { position:absolute; top:80px; left: 140px; font-size:12px; z-index:99; display:none; }
.pop-box01 { position:absolute; top:37px; left: 150px; font-size:12px; z-index:300; display:none; }
.pop-box31 { position:absolute; top:37px; left: 150px; font-size:12px; z-index:300; display:none; }
a.pop32 { text-decoration:underline; color:#36C; cursor:pointer; }
.pop-box32 { position:absolute; top:20px; left: 265px; font-size:12px; z-index:300; display:none; }
.pop-box41 { position:absolute; top:55px; left: 160px; font-size:12px; z-index:300; display:none; }
.pop-box42 { position:absolute; top:70px; left: 235px; font-size:12px; z-index:300; display:none; }
.pop-box43 { position:absolute; top:115px; left: 160px; font-size:12px; z-index:300; display:none; }
.pop-box51 { position:absolute; top:85px; left: 150px; font-size:12px; z-index:300; display:none; }
.pop-box52 { position:absolute; top:85px; left: 235px; font-size:12px; z-index:300; display:none; }
.pop-box53 { position:absolute; top:135px; left: 160px; font-size:12px; z-index:300; display:none; }
.pop-box61 { position:absolute; top:85px; left:150px; font-size:12px; z-index:300; display:none; }
.pop-box71 { position:absolute; top:120px; left: 190px; font-size:12px; z-index:300; display:none; }
.pop-box72 { position:absolute; top:145px; left: 160px; font-size:12px; z-index:300; display:none; }
.pop-box81 { position:absolute; top:142px; left: 160px; font-size:12px; z-index:300; display:none; }
.pop-box40 { position:absolute; top:65px; left: 177px; font-size:12px; z-index:300; display:none; }
.pop-box50 { position:absolute; top:65px; left: 177px; font-size:12px; z-index:300; display:none; }
.pop-box45 { position:absolute; top:65px; left: 65px; font-size:12px; z-index:300; display:none; }
.pop-box55 { position:absolute; top:65px; left: 65px; font-size:12px; z-index:300; display:none; }
.pop-box65 { position:absolute; top:65px; left: 65px; font-size:12px; z-index:300; display:none; }
.box-w500 .poparrow, .box-w500 .poparrow2, .box-w500 .poparrow-d { width:500px; }
.box-w490 .poparrow, .box-w490 .poparrow2, .box-w490 .poparrow-d { width:490px; }
.box-w480 .poparrow, .box-w480 .poparrow2, .box-w480 .poparrow-d { width:480px; }
.box-w470 .poparrow, .box-w470 .poparrow2, .box-w470 .poparrow-d { width:470px; }
.box-w460 .poparrow, .box-w460 .poparrow2, .box-w460 .poparrow-d { width:460px; }
.box-w450 .poparrow, .box-w450 .poparrow2, .box-w450 .poparrow-d { width:450px; }
.box-w440 .poparrow, .box-w440 .poparrow2, .box-w440 .poparrow-d { width:440px; }
.box-w430 .poparrow, .box-w430 .poparrow2, .box-w430 .poparrow-d { width:430px; }
.box-w420 .poparrow, .box-w420 .poparrow2, .box-w420 .poparrow-d { width:420px; }
.box-w410 .poparrow, .box-w410 .poparrow2, .box-w410 .poparrow-d { width:410px; }
.box-w400 .poparrow, .box-w400 .poparrow2, .box-w400 .poparrow-d { width:400px; }
.box-w390 .poparrow, .box-w390 .poparrow2, .box-w390 .poparrow-d { width:390px; }
.box-w380 .poparrow, .box-w380 .poparrow2, .box-w380 .poparrow-d { width:380px; }
.box-w370 .poparrow, .box-w370 .poparrow2, .box-w370 .poparrow-d { width:370px; }
.box-w360 .poparrow, .box-w360 .poparrow2, .box-w360 .poparrow-d { width:360px; }
.box-w350 .poparrow, .box-w350 .poparrow2, .box-w350 .poparrow-d { width:350px; }
.box-w340 .poparrow, .box-w340 .poparrow2, .box-w340 .poparrow-d { width:340px; }
.box-w330 .poparrow, .box-w330 .poparrow2, .box-w330 .poparrow-d { width:330px; }
.box-w320 .poparrow, .box-w320 .poparrow2, .box-w320 .poparrow-d { width:320px; }
.box-w310 .poparrow, .box-w310 .poparrow2, .box-w310 .poparrow-d { width:310px; }
.box-w300 .poparrow, .box-w300 .poparrow2, .box-w300 .poparrow-d { width:300px; }
.box-w290 .poparrow, .box-w290 .poparrow2, .box-w290 .poparrow-d { width:290px; }
.box-w280 .poparrow, .box-w280 .poparrow2, .box-w280 .poparrow-d { width:280px; }
.box-w270 .poparrow, .box-w270 .poparrow2, .box-w270 .poparrow-d { width:270px; }
.box-w260 .poparrow, .box-w260 .poparrow2, .box-w260 .poparrow-d { width:260px; }
.box-w250 .poparrow, .box-w250 .poparrow2, .box-w250 .poparrow-d { width:250px; }
.box-w240 .poparrow, .box-w240 .poparrow2, .box-w240 .poparrow-d { width:240px; }
.box-w230 .poparrow, .box-w230 .poparrow2, .box-w230 .poparrow-d { width:230px; }
.box-w220 .poparrow, .box-w220 .poparrow2, .box-w220 .poparrow-d { width:220px; }
.box-w210 .poparrow, .box-w210 .poparrow2, .box-w210 .poparrow-d { width:210px; }
.box-w200 .poparrow, .box-w200 .poparrow2, .box-w200 .poparrow-d { width:200px; }
.poparrow { padding:10px; line-height:1.3em; font-weight:normal; }
.poparrow p.caution { font-size:12px; }
.arrow-l { *background:url(../../images/sim/arrow-l.gif) no-repeat; position:absolute; left:-8px; top:50%; width:10px; height:15px; margin-top:-7.5px; z-index:301; }
.arrow-d { *background:url(../../images/sim/arrow-d.gif) no-repeat; position:absolute; bottom:-8px; left:50%; width:15px; height:10px; margin-left:-7.5px; z-index:301; }
.arrow-t { *background:url(../../images/sim/arrow-t.gif) no-repeat; position:absolute; top:-8px; left:50%; width:15px; height:10px; margin-left:-7.5px; z-index:301; }
.poparrow {
  position: relative;
  background: #FFFFFF;
  border: 2px solid #999999;
}
.poparrow:after, .poparrow:before {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.poparrow:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #FFFFFF;
  border-width: 7px;
  top: 40%;
  margin-top: -7px;
}
.poparrow:before {
  border-color: rgba(250, 140, 60, 0);
  border-right-color: #999999;
  border-width: 10px;
  top: 40%;
  margin-top: -10px;
}
.poparrow2 { padding:10px; line-height:1.3em; font-weight:normal; }

.poparrow2 {
  position: relative;
  background: #FFFFFF;
  border: 2px solid #999999;
}
.poparrow2:after, .poparrow2:before {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.poparrow2:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #FFFFFF;
  border-width: 7px;
  top: 50%;
  margin-top: -7px;
}
.poparrow2:before {
  border-color: rgba(250, 140, 60, 0);
  border-right-color: #999999;
  border-width: 10px;
  top: 50%;
  margin-top: -10px;
}

/*opening age setting modal*/
.bk_bg { background-color:#FFF;
opacity:0.8;
filter: alpha(opacity=80);        /* ie lt 8 */
-ms-filter: "alpha(opacity=80)";  /* ie 8 */
width:100%; height:120%; position:absolute; top:0; left:0; z-index:1002; }
#age-setting { border-radius:20px; background-color:#F60; width:800px; height:290px; position:absolute; top:100px; left:50%; margin-left:-400px; z-index:1005; }
#age-setting select { font-weight:bold; }
.set-inner { position:absolute; top:10px; left:10px; border-radius:15px; background-color:#FFF; text-align:center; width:780px; height:270px; display:block; }
.formwrap { padding:30px; }
.set-inner p { font-size:24px; margin-top:20px; }
.set-inner p label, .set-inner p option { font-size:20px; }
.set-inner input:checked + label { font-weight:bold; background-color:#fcc69d; }
a.start-btn { display:block; width:195px; height:70px; text-indent:-1000em;
background:url(../../images/sim/btn_start.gif) no-repeat 0 0; margin:0 auto; overflow:hidden; cursor: pointer;}
a:hover.start-btn { background-position:0 -69px; }

.indent1 { display:block; padding-left:1em; }
.indt-minus { text-indent:-1em; }

.loading_image_0 { position:absolute; width:24px; height:24px; margin:25px 0 0 730px; display:none; }
.loading_image_1 { position:absolute; width:24px; height:24px; margin:25px 0 0 660px; display:none; }
.loading_image_2 { position:absolute; width:24px; height:24px; margin:25px 0 0 900px; display:none; }

/* mod_alert02 */
.mod_alert02{
	margin-bottom: 10px;
}
.mod_alert02 .title{
	background: #992626 url(/common/mypage/images/modules/mod_alert02_bg.png) no-repeat 12px 50%;
	padding: 15px 0 13px 58px;
	font-weight: bold;
	color: #fff;
}
.mod_alert02 .content{
	border:1px solid #e0afaf;
	border-top: none;
	background: #fff0f0;
	padding: 13px 0 12px 16px;
	color: #a60000;
}
