@charset "UTF-8";
/* CSS Document */

#footer { position:relative; }
.footershadow { display:none; }
#wrap .inner { padding-bottom:0; }


/* POPUP hidden */
.pop-box, .pop-box01, .pop-box31, .pop-box32,
.pop-box41, .pop-box42, .pop-box43, .pop-box51,
.pop-box52, .pop-box53, .pop-box61, .pop-box71,
.pop-box72, .pop-box81 { display:none; }
.poparrow, .poparrow2, .poparrow-d { display:none; }

.mask01.active, .mask02.active { position:absolute; display:none; width:224px; height:0; background-color:#FFF;
opacity:0.5;
filter: alpha(opacity=50);        /* ie lt 8 */
-ms-filter: "alpha(opacity=50)";  /* ie 8 */
top:0px; left:0; margin-top:60px; z-index:2; }
