@charset "UTF-8";
/* CSS Document */

.ttl-box h2.select { width:269px; height:60px; display:block; float:left; background:url(../../images/sim/h2_ttl_r.jpg) no-repeat 0 0; }
#believe.itembox { margin-bottom:0; }

.tl-bar h3 { width:450px; }
.tl-bar .uint_price, .tl-bar .uint_price_h, .tl-bar .uint_price_y { display:block; width:200px; height:36px; left:525px; position:absolute; top:50%; margin-top:-18px; text-align:right;}
.tl-bar .uint_pricej, .tl-bar .uint_pricej_h, .tl-bar .uint_pricej_y { display:block; width:200px; height:36px; position:absolute; top:50%; margin-top:-18px; left:765px; text-align:right;}
.price-label { font-size:14px; line-height:1.1em; text-align:left; width:42px; float:left; margin-top:2px; overflow:hidden;  }
.pricered { font-size:38px; }
.price-tani { font-size:18px; }

/*price hide*/
#bridge.close .tl-bar .uint_price, #bridge.close .tl-bar .uint_price_h, #bridge.close .tl-bar .uint_price_y,
#cure.close .tl-bar .uint_price, #cure.close .tl-bar .uint_price_h, #cure.close .tl-bar .uint_price-y,
#curelady.close .tl-bar .uint_price, #curelady.close .tl-bar .uint_price_h, #curelady.close .tl-bar .uint_price_y,
#curelady.close-m .tl-bar .uint_price, #curelady.close-m .tl-bar .uint_price_h, #curelady.close-m .tl-bar .uint_price_y,
#believe.close .tl-bar .uint_price, #believe.close .tl-bar .uint_price_h, #believe.close .tl-bar .uint_price_y,
#bridge.close .tl-bar .uint_pricej, #bridge.close .tl-bar .uint_pricej_h, #bridge.close .tl-bar .uint_pricej_y,
#cure.close .tl-bar .uint_pricej, #cure.close .tl-bar .uint_pricej_h, #cure.close .tl-bar .uint_pricej-y,
#curelady.close .tl-bar .uint_pricej, #curelady.close .tl-bar .uint_pricej_h, #curelady.close .tl-bar .uint_pricej_y,
#curelady.close-m .tl-bar .uint_pricej, #curelady.close-m .tl-bar .uint_pricej_h, #curelady.close-m .tl-bar .uint_pricej_y,
#believe.close .tl-bar .uint_pricej, #believe.close .tl-bar .uint_pricej_h, #believe.close .tl-bar .uint_pricej_y {
display:none;
}

.pop-box000-birth { position:absolute; top:40px; left:250px; display:none; z-index:1001; }

.tl-bar .gurd-formen { left:537px; z-index:900 }
.tl-bar .gurd-close { left:537px; z-index:900 }

.mid-box { display:block; width:807px; float:left; margin-left:20px; font-size:16px; padding-top:10px; padding-bottom:10px; position:relative; }
.mid-box dl { display:block; padding:5px 0; border-bottom:solid 1px #CCC; overflow:hidden; }
.mid-box dl.last { border-bottom:0; }
.mid-box dl.mgnt-5 { margin-top:-8px; }
.mid-box dt { width:341px; float:left; line-height:1.2em; padding-top:5px; font-weight:bold; position:relative; }
.mid-box dt strong { font-weight:bold; }
.mid-box dt .icon-m { display:block; width:20px; height:20px; background-image:url(../../images/sim/icon-hoken.gif); background-repeat:no-repeat; float:left; margin-right:3px; }
.mid-box dt .hutai-ttl { line-height:1.3em; padding-top:3px; padding-left:23px; font-weight:normal; }
.mid-box dt .sub-ttl { padding-left:23px; font-weight:normal; }
.mid-box dd { float:left; display:block; width:230px; text-align:center; }
.mid-box dd.ddr { float:left; display:block; width:220px; margin-left:15px; text-align:center; }
.mid-box dd select[option] { font-size:16px; padding:2px 1em; }
.mid-box dd.ddl .group01, .mid-box dd.ddl .group02, .mid-box dd.ddr .group01, .mid-box dd.ddr .group02 { width:70px; float:left; z-index:100; text-align:center; }
.mid-box dd.ddl .group01 { margin-left:40px; }
.mid-box dd.ddr .group01 { margin-left:35px; }
.mid-box dd .group1, .mid-box dd .group2, .mid-box dd .group3 { width:100%; float:left; }
.mid-box dd .group.w240 { width:240px; }
.mid-box dd .hutailine { clear:left; }
.mid-box dd label { padding:1px 3px; margin-left:3px; }
.mid-box dd .f14 { font-size:14px; }
.mid-box dd input[type=radio] { pagging:0; margin:0; }
.rlabel { padding-left:0; font-weight:normal; line-height:1.3em; clear:both; display:block; }
.rlabel.w240 { width:100%; }
.rlabel-t { padding-left:1.5em; font-weight:normal; line-height:1.3em; clear:both; }
.mid-box dd input:checked + label { font-weight:bold; background-color:#fcc69d; }
.mid-box dd input:checked ~ .rlabel { display:block; }
.mid-box dd .group2, .mid-box dd .group3 { float:right; text-align:center;}
#believe .mid-box dd .group1, #believe .mid-box dd .group2 { width:72%; text-align:left; padding-left:63px;}


/*CURE CURElady 組み合わせ注意　20131023add*/
.mid-box dt .caution-ico { position:absolute; top:0; right:5px; width:40px; height:40px;
background:url(../../images/sim/caution_btn.gif) no-repeat 0 0; }
.mid-box dd select.redalert { background-color:#ea9999; }

.mid-box ul.list-help { position:absolute; top:17px; left:120px; width:162px; }
.mid-box .list-help li { width:160px; margin:0px; }
.mid-box .list-help li a { width:160px; margin:0px; }
.list-help li a .midtxt { left:2em; }
.mid-box .caption { width:330px; }
.norm { font-weight:normal; }

.conts_inner { position:relative; width:980px; height:100%; overflow:hidden; padding-top:60px; margin-bottom:20px; }
.conts_inner .overline { position:absolute; height:50px; top:0; right:0; width:470px; }
.tab { display:block; width:230px; height:55px; background:url(../../images/sim/tab_bg.gif) no-repeat -240px 0; z-index:5; cursor:pointer; }
.tab.active { background-position:0 0; }
#tab01 .midtxt, #tab02 .midtxt { display:block; background:url(../../images/sim/btn_tab_bg.gif) no-repeat; text-indent:-999em; overflow:hidden; width:100%; height:50px }
#tab01.active .midtxt { background-position:0 0; }
#tab02 .midtxt { background-position:-240px 0; }
#tab01 .midtxt { background-position:0 -55px; }
#tab02.active .midtxt { background-position:-240px -55px; }
#tab01 { position:absolute; top:0; left:0; }
#tab02 { position:absolute; top:0; right:0; }
.line11 { display:block; width:2px; height:100%; background-color:#CCC; position:absolute; top:50px; left:510px; z-index:50; }
.line12 { display:block; width:2px; height:100%; background-color:#CCC; position:absolute; top:50px; left:738px; z-index:50; }
.line21 { display:block; width:2px; height:100%; background-color:#CCC; position:absolute; top:50px; right:228px;  z-index:50; }
.line22 { display:block; width:2px; height:100%; background-color:#CCC; position:absolute; top:50px; right:0; z-index:-1; }
.line11.active { display:block; width:4px; height:100%; background-color:#fa8c3c; position:absolute; top:50px; left:510px; z-index:50; }
.line12.active { display:block; width:4px; height:100%; background-color:#fa8c3c; position:absolute; top:50px; left:736px; z-index:50; }
.line21.active { display:block; width:4px; height:100%; background-color:#fa8c3c; position:absolute; top:50px; right:226px;  z-index:50; }
.line22.active { display:block; width:4px; height:100%; background-color:#fa8c3c; position:absolute; top:50px; right:0; z-index:50; }
.line23 { display:none; width:4px; height:100%; background-color:#fa8c3c; position:absolute; top:50px; right:0; z-index:50; }
.line23.active { display:block; }
.line15.active { display:block; width:226px; height:4px; background-color:#fa8c3c; position:absolute; bottom:0; left:512px; z-index:50; }
.line25.active { display:block; width:226px; height:4px; background-color:#fa8c3c; position:absolute; bottom:0; right:228px; z-index:50; }
.line1b { display:block; width:230px; height:2px; background-color:#CCC; position:absolute; bottom:0; left:510px; z-index:50; }
.line2b { display:block; width:230px; height:2px; background-color:#CCC; position:absolute; bottom:0; right:0; z-index:50; }
.line1b.active { display:block; width:230px; height:4px; background-color:#fa8c3c; position:absolute; bottom:0; left:510px; z-index:50; }
.line2b.active { display:block; width:230px; height:4px; background-color:#fa8c3c; position:absolute; bottom:0; right:0; z-index:50; }


.mask01, .mask02 { position:absolute; display:none; width:224px; height:0; background-color:#FFF;
opacity:0.5;
filter: alpha(opacity=50);        /* ie lt 8 */
-ms-filter: "alpha(opacity=50)";  /* ie 8 */
top:0px; left:0; margin-top:60px; z-index:2; }
.mask01.active { top:0; left:512px; display:block; width:226px; height:100%; }
.mask02.active { top:0; left:752px; display:block; width:226px; height:100%; }

.active .pricered.graytxt { color:#999; }
.active .pricered { color:#E00; }

#footer { height:170px; }
#footer .inner { width:980px; margin:0 auto 10px; height:160px; }
#footer img { margin:0 auto; }

#footer .sumbox { width:650px; float:right; text-align:left; display:block; height:180px; position:relative; }
.sumbox p { padding-bottom:5px; }
.sumbox p.magtb5 { padding:5px 0;}
.sum-databox1, .sum-databox2 { display:block; width:230px; height:80px; position: relative; float:right; background:#CCC; }
.sum-databox2 { margin-left:10px; }
.sum-datainner { height:70px; width:220px; display:block; position:absolute; top:5px; left:5px; background-color:#FFF; }
#pay_sum-m_1, #pay_sum-y_1, #pay_sum-m_2, #pay_sum-y_2 { z-index:9; position:absolute; top:10px; left:10px; width:210px; }
.paylabel { padding:0 0 0 10px; margin:0; }
.sum-count { text-align:right; padding:0 10px 10px 0; margin-top:-2px; }
.sum-count .sumred { font-size:44px; font-family:Arial, Helvetica, sans-serif; color:#E00; font-weight:bold; line-height:1em; }
.sum-count .sumred.graytxt { color:#CCC; }
.sum-count .tani { font-size:20px;}
.btn-culclong { margin:0px auto 10px 60px; width:350px; display:block; position:absolute; top:95px; left:180px; }
.btn-culclong a { display:block; width:350px; height:55px; background:url(../../images/sim/btn_select.gif) no-repeat 0 0; text-indent:-999em; cursor: pointer; }
.btn-culclong a:hover { background-position:0 -70px; }
.btn-culclong a.disable { background-position:0 -140px; cursor: default; }
p.item-number { width:166px; height:45px; margin:5px 0; background:url(../../images/sim/select4.gif) no-repeat 0 0; display:block; position:relative; }
p.item-number .midtxt { display:block; font-size:18px; font-weight:bold; color:#FFF; line-height:1em; height:20px;
position:absolute; top:50%; margin-top:-13px; left:12px; }
#ins_number { font-size:28px; }

.arrow-dbox1 {
  position:relative;
  background: #FFFFFF;
  border: 5px solid #fa8c3c;
height:70px;
z-index:4;
}
.arrow-dbox1.offmode { display:none; }
.arrow-dbox1:after, .arrow-dbox1:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow-dbox1:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #FFFFFF;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
}
.arrow-dbox1:before {
  border-color: rgba(250, 140, 60, 0);
  border-top-color: #fa8c3c;
  border-width: 16px;
  left: 50%;
  margin-left: -16px;
}

.arrow-dbox2 {
  position:relative;
  background: #FFFFFF;
  border: 5px solid #fa8c3c;
height:70px;
z-index:4;
}
.arrow-dbox2.offmode { display:none; }
.arrow-dbox2:after, .arrow-dbox2:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow-dbox2:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #FFFFFF;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
}
.arrow-dbox2:before {
  border-color: rgba(250, 140, 60, 0);
  border-top-color: #fa8c3c;
  border-width: 16px;
  left: 50%;
  margin-left: -16px;
}

#footer .leftbox_s { width:300px; float:left; display:block; text-align:left; height: 180px; }
#footer .leftbox_s p { font-size:15px; line-height:1.3em; padding:0.5em 0; padding-top:30px; padding-bottom:25px; width:280px}
#footer #shokuiki.leftbox_s { width:300px; float:left; display:block; text-align:left; height: 180px; }
#footer #shokuiki.leftbox_s p { font-size:13px; line-height:1.3em; padding:0.5em 0; padding-top:15px; padding-bottom:12px; width:280px}
#footer ul.blue-btn { width:300px; display:block; }
.blue-btn li { float:left; }
li.btn-recm a, li.btn-simul a, li.btn-pdfdoc a { display:block; height:55px; background-image:url(../../images/sim/blue-btn.gif); background-repeat:no-repeat; text-indent:-999em; overflow:hidden;  }
li.btn-recm a { width:142px; background-position:-95px 0;  }
li.btn-simul a { width:142px; background-position:-237px 0;  }
li.btn-pdfdoc a { width:138px; background-position:-379px 0;  }
li.btn-recm a:hover { width:142px; background-position:-95px -65px; }
li.btn-simul a:hover { width:142px; background-position:-237px -65px; }
li.btn-pdfdoc a:hover { width:138px; background-position:-379px -65px; }
li.btn-recm a.disable { width:142px; background-position:-95px -130px; }
li.btn-simul a.disable { width:142px; background-position:-237px -130px; }
li.btn-pdfdoc a.disable { width:138px; background-position:-379px -130px; }

li.btn-simul2 { margin-top:25px;}
li.btn-simul2 a { display:block; width:200px; height:90px; background-image:url(../../images/sim/btn-simul-b.gif); background-repeat:no-repeat; text-indent:-999em; overflow:hidden; background-position:0 0px;
 }
li.btn-simul2 a:hover { width:200px; background-position:0 -100px; }


.pop-box41, .pop-box42, .pop-box43 { display:none; }
.pop-box51, .pop-box52, .pop-box53 { display:none; }
.pop-box71, .pop-box72, .pop-box73 { display:none; }

.otherlink { width:280px; position:absolute; top:-1px; z-index: 1001;}
.otherlink p a { font-size:16px;}
.plan-choice { width:222px; display:block; position:absolute; top:0; left:280px; font-size:12px; line-height:1.3em; color:#30539B; letter-spacing:-0.01em }

.pop-box003 { position:absolute; top:-50px; left:-30px; display:none; z-index:1001; }

